{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>

    {% block title %}{% endblock %}

<!-- Bootstrap Core and vandor -->
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" />

<!-- Core css -->
<link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/default.css' %}" />

</head>
<body class="font-muli dark-mode gradient">

{% block content %}{% endblock %}

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="{% static 'assets/bundles/lib.vendor.bundle.js' %}"></script>

<!-- Start project main js  and page js -->
<script src="{% static 'assets/js/core.js' %}"></script>
</body>
</html>