{% extends 'tests/base.html' %}
{% load static %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block css %}
    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}"/>

    <!-- Core css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}"/>
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="auth option2">
                <div class="auth_left">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <a class="header-brand" href="{% url 'tests:main' %}"><i
                                        class="fa fa-graduation-cap brand-logo"></i></a>
                                <div class="card-title">ЗАБЫЛИ ПАРОЛЬ</div>
                            </div>
                            <p class="text-muted">Введите свой адрес электронной почты, и ваш пароль будет сброшен и
                                отправлен вам по электронной почте.</p>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">Email адрес</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Выслать мне новый пароль
                                </button>
                                <div class="text-muted mt-4">Забудь об этом, <a href="{% url 'auth:login' %}">Отправьте
                                    меня Обратно</a> на страницу входа.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}