{% load static %}
<footer class="section footer-section bg-secondary">
    <!-- Footer Bottom Start -->
    <div class="container">
        <div class="row align-items-center footer-bottom">
            <div class="col-12 text-center">
                <div class="copyright-content">
                    <p class="mb-0">Copyright &copy; {% now 'Y' %} <a href="https://tellcap.ru"> TELLCAP&reg;.</a> All
                        Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>